---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SitesRow from "../components/SitesRow.astro"
import SiteCard from "../components/SiteCard.astro"

const sites: {
  siteName: string;
  domain: string;
}[] = [
  {
    siteName: "TRANs（生徒会情報機構）",
    domain: "trans.stki.org"
  },
  {
    siteName: "日本中高生協議会",
    domain: "jsc.stki.org"
  },
  {
    siteName: "近畿生徒会交流会",
    domain: "k-scem.stki.org"
  },
  {
    siteName: "五所川原盛り上げ隊",
    domain: "goshomoritai.stki.org"
  },
  {
    siteName: "能登半島地震・学生による支援募金プロジェクト（NSF）",
    domain: "nsf.stki.org"
  },
  {
    siteName: "Nagocity Youth Creative",
    domain: "nagoyc.stki.org"
  },
  {
    siteName: "日本若者防災復興協会(JYRAC)",
    domain: "jyrac.stki.org"
  },
  {
    siteName: "全国生徒会防災サミット",
    domain: "summit.jyrac.stki.org"
  },
  {
    siteName: "中学生生徒会連盟",
    domain: "chuseiren.stki.org"
  },
];
---

<Layout title="生徒会・学生団体共通ドメイン「stki.org」">
	<Hero />
	<div class="mx-0 sm:mx-20">
		<div class="mt-10 w-full text-center text-3xl font-Inter font-light">
			About
		</div>
		<div class="mx-5 sm:mx-0 mt-10 font-NotoSansJP text-gray-500 font-light text-center">
			<p>
				<span class="text-black">stki.org</span>は、当団体<a href="https://trans.stki.org/"><span class="text-black underline">TRANs</span></a>（生徒会情報機構）の所有するドメインです。
			</p>
			<p>
				当団体では、<span class="text-black">生徒会団体</span>や<span class="text-black">生徒会</span>、<span class="text-black">学生団体</span>向けにこのドメインの機能を提供しております。
			</p>
			<p class="mt-5">
				<a href="https://note.com/kombumori/n/ncdca90824365">
					<span class="text-black underline">もっと知る</span>
				</a>
			</p>
		</div>
		<div class="mt-10 w-full text-center text-3xl font-Inter font-light">
			Use Cases
		</div>
		<div class="mt-10 w-full text-center text-2xl font-Inter font-light">
			Sites
		</div>
		<div class="mt-5 flex justify-center">
			<div class="card-grid w-full max-w-5xl px-6 font-NotoSansJP md:px-0">
				{
					sites.map((site) => {
						return <SiteCard {...site}/>
					})
				}
			</div>
		</div>
		<div class="mt-10 w-full text-center text-2xl font-Inter font-light">
			Others
		</div>
		<div class="mt-5 font-Inter font-light text-gray-500">
			<p class="w-full text-center">Email, Bluesky, etc...</p>
		</div>
		<div class="mt-10 w-full text-center text-3xl font-Inter font-light">
			And...
		</div>
		<div class="mx-5 sm:mx-0 mt-10 font-NotoSansJP text-gray-500 font-light text-center">
			<p>
				TRANsでは、生徒会・学生団体などからの<span class="text-black">サイト作成</span>依頼も<span class="text-black">無償</span>で引き受けております。
			</p>
			<p>
				文化祭のサイトや団体のHPなど、下記お問合せサーバーからお気軽にご相談ください！
			</p>
			<!-- あとで実績掲載 -->
		</div>
		<div class="mt-10 w-full text-center text-3xl font-Inter font-light">
			Inquiry
		</div>
		<div class="mx-5 sm:mx-0 mt-10 mb-20 font-NotoSansJP text-gray-500 font-light text-center">
			<p>
				<a href="https://trans.stki.org/inquiry">
					<span class="text-black underline">Discordサーバー</span>
				</a>からお問合せください。
			</p>
		</div>
	</div>
</Layout>

<style>
	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
		gap: 1rem;
	}
</style>
