---
export type Props = {
  siteName: string,
  domain: string,
};

const { siteName, domain }: Props = Astro.props;
---

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <th
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
    >
        {siteName}
    </th>
    <a href={`https://${domain}/`}>
        <td class="px-6 py-4 underline"> {domain} </td>
    </a>
</tr>
